html {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400; }

body {
  padding: 0;
  margin: 0;
  background: #131417; }

*, *:before, *:after {
  box-sizing: border-box;
  color: #FFFFFF; }

.l-flex {
  display: flex; }

.l-align-center {
  align-items: center; }

.l-flex-wrap {
  flex-wrap: wrap; }

.l-sidebar {
  min-width: 188px; }

.l-header {
  display: flex;
  align-items: center; }

l-align-center {
  align-items: center; }

.l-margin-left-2rem {
  margin-left: 2rem !important; }

.l-section {
  margin: 32px 0; }

button-secondary {
  border: 0;
  background: #444857; }

.button-primary {
  border: 0;
  background: #47cf73;
  color: black; }

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 8px 16px;
  text-align: center; }

.button-logo {
  margin: 0 16px;
  border: 3px solid transparent;
  background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  width: 154px;
  padding: 0; }

.button-logo-text {
  display: block;
  background: black;
  padding: 8px;
  width: 100%; }

.header-buttons {
  padding: 8px; }

.header-buttons .button {
  margin-right: 8px;
  min-width: 100px; }

.code-card-html {
  position: relative;
  left: 160px;
  bottom: 20px; }

.code-card-scss {
  position: relative;
  left: 220px;
  bottom: 20px; }

.code-card-js {
  position: relative;
  left: 160px;
  bottom: 20px; }

.code-card-body {
  padding: 8px;
  padding-top: 0; }

.code-card {
  margin-bottom: 8px;
  background: #1d1e22;
  border-radius: 6px;
  width: 300px;
  height: 140px;
  font-size: 13px; }

.code-card-body p {
  margin: 0; }

.footer {
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  background: black; }

ul {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none; }

.footer-links li {
  margin-right: 1rem; }

footer-links h4 {
  margin: 2px;
  margin-right: 1rem; }

.hero-body-description {
  width: 50%;
  padding: 32px; }

.hero-body-description-title {
  margin: 0;
  font-size: 3rem;
  font-weight: 900; }

.hero-body-description-text {
  font-size: 1.1rem; }

.hero-body-image-card {
  margin: 16px auto;
  border-radius: 6px;
  width: 495px;
  height: 410px;
  background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%); }

.hero-body-image {
  width: 50%; }

.hero-body {
  display: flex;
  flex-wrap: wrap; }

.footer-logo {
  font-size: 2rem; }

.search-form {
  padding: 8px;
  margin: 8px;
  background: #252830;
  border-radius: 4px;
  width: 100%; }

.search-form-input {
  margin-left: 16px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  background: #252830;
  border: 0; }

.sidebar {
  background: #1F1F26; }

ul {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none; }

.sidebar-menu-title {
  font-size: .8rem;
  margin-bottom: .2rem; }

.text-warning {
  color: #ffdd40; }

.text-primary {
  color: #47cf73; }

.text-accent {
  color: #0ebeff; }
