html {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400; }

body {
  padding: 0;
  margin: 0;
  background: #131417; }

*, *:before, *:after {
  box-sizing: border-box;
  color: #FFFFFF; }

.l-flex {
  display: flex; }

.l-align-center {
  align-items: center; }

.l-flex-wrap {
  flex-wrap: wrap; }

.l-sidebar {
  min-width: 188px; }

.l-header {
  display: flex;
  align-items: center; }

button-secondary {
  border: 0;
  background: #444857; }

.button-primary {
  border: 0;
  background: #47cf73;
  color: black; }

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 8px 16px;
  text-align: center; }

.button-logo {
  margin: 0 16px;
  border: 3px solid transparent;
  background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  width: 154px;
  padding: 0; }

.button-logo-text {
  display: block;
  background: black;
  padding: 8px;
  width: 100%; }

.header-buttons {
  padding: 8px; }

.header-buttons .button {
  margin-right: 8px;
  min-width: 100px; }

.search-form {
  padding: 8px;
  margin: 8px;
  background: #252830;
  border-radius: 4px;
  width: 100%; }

.search-form-input {
  margin-left: 16px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  background: #252830;
  border: 0; }

.sidebar {
  background: #1F1F26; }

ul {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none; }

.sidebar-menu-title {
  font-size: .8rem;
  margin-bottom: .2rem; }

.text-warning {
  color: #ffdd40; }

.text-primary {
  color: #47cf73; }

.text-accent {
  color: #0ebeff; }
